@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');

body{
    color:darkslategrey;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(to bottom right,
        white,
        skyblue);
}
h1{
 font-family: "Yanone Kaffeesatz", sans-serif;
color: rgb(10, 117, 139);
}

 h2{
    font-style: italic;
    margin-right: 40px;
    color:rgb(10, 117, 139);
 }